<!-- This is the template that of html that ejs starts with and then inserts new html code into and then renders it and passes it with responses(res.render())-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <!--ejs for loop which builds list items per each document in the collection-->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!--ejs condition, if the current document in the collection's completed key has a value of true, add a span to this list item with a class of 'completed'-->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <!-- else add a span with no class value-->
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!--add a span with 2 class values which will be rendered as a trash can icon-->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <!--plugin from the server.js app.get 'left' variables value-->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
